<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <label for="initial-investment">Initial Investment</label>
    <input
      id="initial-investment"
      type="number"
      required
      [(ngModel)]="initialInvestment"
      [ngModelOptions]="{ standalone: true }"
    />

    <label for="annual-investment">Annual Investment</label>
    <input
      id="annual-investment"
      type="number"
      required
      [(ngModel)]="annualInvestment"
      [ngModelOptions]="{ standalone: true }"
    />
  </div>
  <div class="input-group">
    <label for="expected-return">Expected Return</label>
    <input
      id="expected-return"
      type="number"
      required
      [(ngModel)]="expectedReturn"
      [ngModelOptions]="{ standalone: true }"
    />

    <label for="duration">Duration</label>
    <input
      id="duration"
      type="number"
      required
      [(ngModel)]="duration"
      [ngModelOptions]="{ standalone: true }"
    />
  </div>
  <button type="submit">Calculate</button>
</form>
<app-investment-results
  [investmentValues]="investmentValues"
  [investmentData]="investmentData"
/>
